{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{%block content%}
<div class="container">
    <div class="card" style="width:25%;margin-top:15%;margin-left:35%;">
        <div class="card-header">
            <h3 class="text-center">You found help</h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">Sign up/in as a...</h5>
            <p class="card-text"><a href="/doc/login/">Doctor</a> or <a href="/user/login/">Standard user</a></p>
        </div>
    </div>
</div>

{%endblock%}
</body>
</html>