{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{%block content%}
<div class="container">
    <div class="card" style="width:25%;margin-top:15%;margin-left:35%;">
        <div class="card-header">

        </div>
        <div class="card-body">
            <h5 class="card-title">Sign in here as a...</h5>
            <p class="card-text"><a href="/doc/signup/">Doctor</a> or <a href="/user/signup/">Standard user</a></p>
        </div>
    </div>
</div>

{%endblock%}
</body>
</html>