{%extends 'base.html'%}
{%load static%}
{%load bootstrap5%}
{%load bootstrap4%}
{%load crispy_forms_tags%}


{%block content%}
<body style="background-color:#E8F1FE;">

</body>

<div class="container" style="background:transparent;width:auto;height:auto;max-width:80%;margin-bottom:2.5%;">
    <div class="row" style="margin-top:2.5%;padding-top:1.5%;padding-bottom:1.5%;">
        <div class="col-md-1"></div>

        <div class="col-md-5 rounded" style="background:transparent;padding:2.5%;">
            {%if form.errors%}
            <p>
                Please confirm that your information is correct.
            </p>
            {%endif%}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center">
                        Sign up as a Doctor
                    </h3>
                </div>
                <div class="panel-body">
                    <form action="/doc/signup/" method="post" style="text-align:center;">
                        {%csrf_token%}
                        {{ doc_reg_form|crispy }}
                        <div class="form-group">
                            <input type="submit" class="btn btn-outline-info btn-dark btn-sm" value="Sign Up" style="margin-top:1.5%;">
                        </div>
                        <input type="hidden" name="next" value="{{next}}">
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-5 rounded" style="background:transparent;padding:2.5%;">
            {%if form.errors%}
            <p>
                Please confirm that your information is correct.
            </p>
            {%endif%}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center">
                        Sign up as a standard user
                    </h3>
                </div>
                <div class="panel-body">
                    <form action="/user/signup/" method="post" style="text-align:center;">
                        {%csrf_token%}
                        {{patient_reg_form|crispy}}
                        <div class="form-group">
                            <input type="submit" class="btn btn-outline-info btn-dark btn-sm" value="Sign Up" style="margin-top:1.5%;">
                        </div>
                        <input type="hidden" name="next" value="{{next}}">
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>
    </div>
</div>
{%endblock%}